    *
    {
      font-family: 'Montserrat Alternates', sans-serif;
      font-size: 20px;
      text-align:center;
      text-decoration: none;
    }
    button
    {
      padding:10px 10px 10px 10px;
      background:url("buy.png");
      border:1px;
    }
    .footer
    {text-align:center;bottom:0;}
    hr
    {
      width:50%;
      opacity:10%;
      margin-top:50px;
    }
    img
    {
      text-align:center;
      width:800px;
    }
    table
    {
      position:relative;
      text-align:center;
    }
    a
    {
      text-decoration:none;
      color:gray;
    }
